:root{
 --primary-color:radial-gradient(circle, rgba(214,221,255,1) 22%, rgba(62,120,213,1) 100%);
 --secondary-color:#491c88;
 --third-color:#27005D;
 --fourth-color: white;
 --text-color:black;
 --head-color:black;
 
 
}

.change-theme{
  --primary-color:radial-gradient(circle, rgb(143 157 224) 22%, rgb(255 255 255) 100%) ;
     --secondary-color: #1fa0db ;
     --third-color:#861fdb;
     --fourth-color: black;
     --text-color:#154179;
  --head-color:white;
  -
}